snippet for "for" b
for (i in ${1:1 :10}){
	${2:command}
}
endsnippet

snippet function "function global" b
${1:function_name} <- function (${2:arg1}, ${3:arg2} = ${4:val}){
	${5:operation}
}

$1(arg1)
endsnippet


